html, head, body, #home {
	height: 100%;
	overflow-x: hidden;
}

/* Navbar - Menu Superior Principal */
nav.navbar-transparente {
	padding: 25px 0px;
	background: black;
}

nav li a:hover {
  background-color: #008b8b;
}

#nav-horizontal a{
	color:  white;
	font-size: 20px;
	padding: 5px;
	margin: 0 10px;
}

/*divisor navbar cabeçalho*/ 
.divisor{
	width: 1px;
	background: white;
	margin: 5px 15px;
}

/*Botão entrar navbar cabeçalho*/
.btn-entrar{
	color: blue;
	background: white;
}

/*Configura botões*/
.btn-custom {
	color: white;
	margin: 30px 10px;
	font-size: 1em;
	border-radius: 100px;
	-webkit-border-radius: 100px;
    -moz-border-radius: 100px;
}

.btn-comecar{
	width: 18%;
	height: 20%;
	text-transform: uppercase;
	background-color: black;
}

.btn-planos{
	width: 18%;
	height: 20%;
	color: black;
	border: solid black;
	text-transform: uppercase;
}

.btn-planos:hover{
	background-color: white;
}

.btn-comecar:hover{
	border: solid black;
	background-color: white;
}

body{
	background-attachment: fixed;
	font-family: Helvetica,Arial,sans-serif;
}

a{
	color: white;
}

h1{
	letter-spacing: -0.05em;
	font-weight: 900;
}

/* Espaço entre seções*/
section {
	padding: 20px;
}

/*Gradiente Menu superior pág de Suporte*/
#suporte-cab{
	background-image: linear-gradient(to bottom, #50c878, #0b2413);
}
/*Gradiente Seção ajuda pág de Suporte*/
#suporte-ajuda{
	background-image: linear-gradient(to bottom, #0b2413, #050505);
	color: white;
}

/*Home pág Premium */
#home-premium{
	background-color: #fad2d2;
	padding-top: 60px;
	
	padding-left: 0;
}

#home-premium h1{
	font-weight: bold;
}

#home-premium h4{
	padding-top: 20px ;
}

/*Seção vantagens pág Premium */
#vantagens-premium{
	text-align: center;
	padding: 40px;
}
/*Configura letras banner pág Premium*/
#letrasMiudas{
	font-size: 10px;
}

#vantagens-premium img{
	background-color: gray;
	border-radius: 500px;
	-webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}

#vantagens-premium h4{
	padding: 20px;
	margin: 5px 5px;
	font-weight: bold;
	font-size: 20px;
}

#vantagens-premium h1{
	font-weight: bold;
	margin-bottom:20px ;
}

/* Seção planos pág Premium */
#planos-premium{
	background-color: #E5E5E5;
	text-align: center;
	padding: 60px;
}

#planos-premium ul li{
	text-align: left;
}

#elementos-ajuda h1{
	text-align: left;
	font-size: 60px;
	padding: 0;
}
#elementos-ajuda{
width: 60%;
height: 60%;
justify-content: left;
align-items: center;
}

/* Seção ajuda pág Suporte */

/*Barra de pesquisa*/
#divBusca span , input{
	width: 100%;
}
#divBusca span{
	margin-left: 8px;
}

#suporte-ajuda h4{
	color: gray;
	text-transform: uppercase;
}

#ajuda-rapida{
	background-color: #141414;
}

/* Define dimensões do container */
#elementos-ajuda-rapida{
	width: 60%;
	height: 60%;
}

#elementos-ajuda-rapida h4{
	color: white;
	font-weight: bold;
	margin: 8px;
}

#elementos-ajuda-rapida ul li{
	margin: 18px 0px;
}

#elementos-ajuda-rapida a{
	margin: 8px;
	color: white;
	font-size: 18px;
	letter-spacing: 1px;
	margin-top: 5px;
}

#suporte-ajuda img{
	align-items: center;
	width: 200px;
	height: 100px;
	border: solid 2px black;
	border-radius: 7px;
	margin: 8px 10px;
}

#suporte-ajuda img:hover{
	border: solid 5px green;
}

/* Seção Comunidade pág suporte*/
#comunidade{
	background-color: #020202;
	color: white;
}

#elementos-comunidade{
	width: 60%;
	height: 60%;
	text-align: center;
}

#btn-comunidade{
	width: 100%;
	background-color: green;
	color: black;
	font-weight: bold;
}

/* Icone > Seção Ajuda Rápida Pág Suporte */
.fa-chevron-right{
	float: right;
	color: white;
}


/* Rodapé */
footer{
	background-color: black;
	color: white;
	padding: 50px 0px 20px 0px;
	position: relative;
}
footer h4{
	text-transform: uppercase;
	color: gray;
	font-size: 15px;
}

footer li{
	color: white;
	margin: 10px 0px;
}
footer ul {
	list-style: none;
}

footer .col-md-4 ul li{
	float: right;
	list-style: none;
	margin: 0 5px;
}

footer li a:hover {
  color: #008b8b;
  text-decoration: none;
}

.caixa{
	width: 200px;
	border: solid 1px;
	background-color: white;
	border-radius: 20px;
	margin: 5px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	/* Configurações pagina Premium*/
	h1{
		font-size: 30px;
	}
	h4{
		font-size: 17px;
		font-weight: bold;
	}
	#home-premium a{
		height: 20%;
		width: 100%;
		text-align: center;
		margin-bottom: -20px;
	}
	#letrasMiudas{
		margin-top: 50px;
	}
	footer{
		padding: 10px;
	}
	footer h4{
		margin-top: 15px;
	}

	footer .col-md-4 ul li{
	float: left;
	margin: 50px 5px;
	padding: 0;
	}

	#vantagens-premium img{
		height: 40%;
		width: 40%;
		border-radius: 100%;
	}

	/* Configurações pagina Suporte*/

	#elementos-ajuda{
		padding: 0px;
		width: 100%;
		height: 100%;
		justify-content: left;
		align-items: center;
	}
	#elementos-ajuda p{
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 20px;
	}

	#elementos-ajuda-rapida{
	width: 100%;
	height: 100%;
	}

	#elementos-ajuda-rapida a{
		font-size: 15px;
		float: left;
	}
	
	#suporte-ajuda h1{
		font-size: 40px;
	}
	#suporte-ajuda img{
		width: 200px;
		height: 100px;
		border: solid 2px black;
		border-radius: 7px;
		margin: 8px 10px;
	}
	#elementos-comunidade{
		width: 100%;
		height: 100%;
		text-align: center;
	}
	#btn-comunidade{
		font-size: 12px;
		width: 100%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	
	h1{
		font-size: 30px;
	}

	h4{
		font-size: 17px;
		font-weight: bold;
	}

	#home-premium a{
		height: 25%;
		width: 100%;
		text-align: center;
		margin-bottom: -20px;
	}

	#letrasMiudas{
		margin-top: 50px;
	}

	footer{
		padding: 10px;
	}

	footer h4{
		margin-top: 15px;
	}

	footer .col-md-4 ul li{
	float: left;
	margin: 50px 5px;
	}

	#vantagens-premium img{
		height: 50%;
		width: 50%;
		padding: 0px;
		border-radius: 100%;
	}

		/* Configurações pagina Suporte*/

	#elementos-ajuda{
		padding: 0px;
		width: 100%;
		height: 100%;
		justify-content: left;
		align-items: center;
	}
	#elementos-ajuda p{
		margin-top: 50px;
		margin-bottom: 50px;
		font-size: 20px;
	}

	#elementos-ajuda-rapida{
	width: 100%;
	height: 100%;
	}

	#elementos-ajuda-rapida a{
		font-size: 18px;
		float: left;
	}
	
	#suporte-ajuda h1{
		font-size: 40px;
	}

	#elementos-comunidade{
		width: 100%;
		height: 100%;
		text-align: center;
	}
	#btn-comunidade{
		font-size: 15px;
		width: 80%;
	}

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	#nav-horizontal a{
		font-size: 110%;
	}
	#letrasMiudas{
		margin-top: 50px;
	}
	footer{
		padding: 15px;
	}
	footer h4{
		margin-top: 60px;
		font-size: 80%;
	}
	footer a{
		margin-top: 60px;
		font-size: 90%;
	}

	footer .col-md-4 ul li{
	float: right;
	margin: 50px 5px;
	padding: 0;
	}
	footer .col-md-4 img{
		width: 45px;
	}

	/* Configurações pagina Suporte*/

	#btn-comunidade{
		font-size: 15px;
		width: 80%;
	}

	#elementos-ajuda{
		width: 60%;
		height: 60%;
	}

	#elementos-ajuda-rapida{
	width: 60%;
	height: 60%;
	}

	#elementos-comunidade{
		width: 60%;
		height: 60%;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	#nav-horizontal a{
		font-size: 130%;
	}
	#home-premium a{
		height: 30%;
		width: 30%;
		text-align: center;
		margin-bottom: -20px;
	}
	#letrasMiudas{
		margin-top: 50px;
	}
	footer .col-md-4 img{
		width: 45px;
	}
	footer h4{
		font-size: 100%;
	}
	footer a{
		font-size: 100%;
	}
	#btn-comunidade{
		font-size: 15px;
		width: 70%;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	#nav-horizontal a{
		font-size: 140%;
	}
	#letrasMiudas{
		margin-top: 50px;
	}
	footer .col-md-4 img{
		width: 45px;
	}
} 
